/vendor/
/node_modules/

npm-debug.log
yarn-error.log

/public/storage
/public/hot
/public/build

/storage/*.key
/storage/logs/*
/storage/framework/*

/bootstrap/cache/*.php

.env
.env.backup
.env.production

Homestead.yaml
Homestead.json
/.vagrant

.phpunit.result.cache
.phpactor.json
auth.json

.DS_Store
public/.DS_Store

/.idea
/.vscode